<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servilleta</servlet-name>
        <servlet-class>controlador.ServletAutenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarAlmacen</servlet-name>
        <servlet-class>controlador.ServletGuardarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarCliente</servlet-name>
        <servlet-class>controlador.ServletGuardarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarAlmacen</servlet-name>
        <servlet-class>controlador.ServletActualizarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarVendedor</servlet-name>
        <servlet-class>controlador.ServletGuardarVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarVenta</servlet-name>
        <servlet-class>controlador.ServletGuardarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarTodosAlmacen</servlet-name>
        <servlet-class>controlador.ServletBuscarTodosAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarAlmacen</servlet-name>
        <servlet-class>controlador.ServletEliminarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarCliente</servlet-name>
        <servlet-class>controlador.ServletActualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarTodosCliente</servlet-name>
        <servlet-class>controlador.ServletBuscarTodosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarCliente</servlet-name>
        <servlet-class>controlador.ServletEliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarTodosVendedor</servlet-name>
        <servlet-class>controlador.ServletBuscarTodosVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarVendedor</servlet-name>
        <servlet-class>controlador.ServletActualizarVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarVendedor</servlet-name>
        <servlet-class>controlador.ServletEliminarVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarTodosVenta</servlet-name>
        <servlet-class>controlador.ServletBuscarTodosVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarVenta</servlet-name>
        <servlet-class>controlador.ServletActualizarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarVenta</servlet-name>
        <servlet-class>controlador.ServletEliminarVenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servilleta</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarAlmacen</servlet-name>
        <url-pattern>/guardar-almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarCliente</servlet-name>
        <url-pattern>/guardar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarAlmacen</servlet-name>
        <url-pattern>/actualizar-almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarVendedor</servlet-name>
        <url-pattern>/guardar-vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarVenta</servlet-name>
        <url-pattern>/guardar-venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarTodosAlmacen</servlet-name>
        <url-pattern>/buscar-todos-almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarAlmacen</servlet-name>
        <url-pattern>/eliminar-almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarCliente</servlet-name>
        <url-pattern>/actualizar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarTodosCliente</servlet-name>
        <url-pattern>/buscar-todos-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarCliente</servlet-name>
        <url-pattern>/eliminar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarTodosVendedor</servlet-name>
        <url-pattern>/buscar-todos-vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarVendedor</servlet-name>
        <url-pattern>/actualizar-vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarVendedor</servlet-name>
        <url-pattern>/eliminar-vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarTodosVenta</servlet-name>
        <url-pattern>/buscar-todos-venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarVenta</servlet-name>
        <url-pattern>/actualizar-venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarVenta</servlet-name>
        <url-pattern>/eliminar-venta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
